// Core variables and mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";
// Load variable overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";
// Overrides user variable
@import "../core/variables/components-variables";

// dashboard-analytics
#dashboard-analytics {
  // img left
  .img-left {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // img right
  .img-right {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
  }

  // backgound color to card
  .bg-analytics {
    background: linear-gradient(118deg, rgba($primary, 1), rgba($primary, .7));

    .avatar {
      margin-bottom: 2rem;
    }
  }

  table {
    tr th, tr td {
      &:first-child {
        padding-left: 2rem;
      }

      &:last-child {
        padding-right: 2rem;
      }
    }

    td {
      padding: .75rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  #dashboard-analytics {
    // img left, img-right
    .img-left, .img-right {
      width: 140px;
    }
  }

}
