// Core variables and mixins
@import "../../bootstrap/functions";
@import "../../bootstrap/mixins";
// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "../../bootstrap/variables";
// Overrides user variable
@import "../../core/variables/components-variables";

/* For Input Group TouchPin */

#touchspin {
  .input-group.bootstrap-touchspin {
    .input-group-prepend, .input-group-append {
      display: block;
    }
  }
}

/* For Input Group TouchPin */

// form-input-groups
.segmented-buttons-with-dropdown, .buttons-with-dropdown {
  .input-group {
    .form-control {
      height: 3rem;
    }
  }
}

.bootstrap-touchspin {
  &.touchspin-with-icon {
    .input-group-append {
      .input-group-text {
        i {
          font-size: 1.25rem;
        }
      }
    }
  }
}

.bootstrap-touchspin-spinners {
  .touchspin-spinners-wrapper {
    .input-group {
      .touchspin, .touchspin-stop-mousewheel {
        height: calc(#{$input-height-inner - 0.05rem} + #{$input-height-border + 0.2px});
      }

      &.touchspin-with-icon {
        .input-group-text.bootstrap-touchspin-postfix {
          padding: 0.85rem 1rem;
        }
      }
    }

    .default-height {
      .input-group {
        &.touchspin-vertical {
          height: calc(2.9rem + 2px);
        }
      }
    }
  }
}
