// Core variables and mixins
@import "../../../bootstrap/functions";
@import "../../../bootstrap/mixins";
// Core variables and mixins overrides
@import "../../../core/variables/variables";
@import "../../../bootstrap/variables";
// Overrides user variable
@import "../../../core/variables/components-variables";

.form-group {
  // when an issue or error occured
  &.issue, &.error {
    .help-block, .help-inline {
      color: $danger;
    }

    input, select, textarea {
      border-color: $danger;
    }

    input:focus, select:focus, textarea:focus {
      border-color: $danger;
      -webkit-box-shadow: 0 3 10px 0 $danger;
      -moz-box-shadow: 0 3 10px 0 $danger;
      box-shadow: 0 3 10px 0 $danger;
    }
  }


  // Validation Message Scss
  .help-block ul {
    padding-left: 0;

    li {
      list-style-type: none;
      font-size: 0.875rem;
      padding-top: 0.2rem;
    }
  }
}
